body {
    background-color:rgb(34, 38, 153);
    color: black;
}

.conteiner_mae {
    display: flex;
    background-color: rgb(144, 215, 109);
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}

.foto {
    justify-content: space-around;
    background-color: rgb(218, 218, 218);
    margin: 10px;
    padding: 20px;
    font-size: 25px;
}


.conteiner_pai {

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #40de0f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin:0 350px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.jucilei {
        display: inline-block;
        border-radius: 4px;
        background-color: #939393;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }    
    }
